chat{
	ion-label{
		white-space: normal;
	}
	.item-inner{
		padding-right: 0px !important ;
		.label-md{
			margin-right: 0px !important;
		}
	}
	.newsdate{
	font-style: italic;
    font-size: 1.1rem;
    float: right;
    margin-right: 10px;
	}

}